<!-- add new calendar event modal -->
<!-- jQuery 2.0.2 -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>   
<script>
        function getval(){
        $('.nameofauthor').val($('.author').val());
        }
        getval();
        $(document).ready(function() {
            $('.author').change(function(){
                $('.nameofauthor').val($(this).val());
            });
        });
</script>

<script>
    function getInput() {
        $('.imgnm').keyup(function() {
            $val = "";
            $split = "";
            $('.imgnm').each(function(i, o) {
                if (i > 0) {
                    $split = ",";
                }
                $val += $split + $(o).val();

            });
            $('#forname').val($val);
        });
        $('.imgsort').keyup(function() {
            $val = "";
            $split = "";
            $('.imgsort').each(function(i, o) {
                if (i > 0) {
                    $split = ",";
                }
                $val += $split + $(o).val();

            });
            $('#forsort').val($val);
        });
        $('.imgup').blur(function() {
            $val = "";
            $split = "";
            $('.imgup').each(function(i, o) {
                if (i > 0) {
                    $split = ",";
                }
                file = $(o)[0].files[0]
                $val += $split + file.name;

            });
            $('#forimage').val($val);

        });
    }
</script>   
<script>
    $(document).ready(function() {

        var counter = 1;

        $("#addButton").click(function() {

            if (counter > 4) {
                alert("Only 4 textboxes allow");
                return false;
            }

            var newTextBoxDiv = $(document.createElement('tr')).attr("id", 'TextBoxDiv' + counter);
            newTextBoxDiv.html(
                    '<!--td><input type="text" name="image_name' + counter +
                    '" id="image_name' + counter + '" class="imgnm" value="" placeholder="name"></td>' +
                    '<td><input type="text" name="sort_image' + counter +
                    '" class="imgsort"  id="sort_image' + counter + '" value="" placeholder="sort"></td-->' +
                    '<td><input type="file" name="image' + counter +
                    '" id="image' + counter + '" class="imgup" value="" size="5"></td>'
                    );

            newTextBoxDiv.appendTo("#TextBoxesGroup");
            counter++;
            getInput();
        });

        $("#addButton").trigger('click');

        $("#removeButton").click(function() {
            if (counter == 1) {
                alert("No more textbox to remove");
                return false;
            }
            counter--;

            $("#TextBoxDiv" + counter).remove();
        });

        $("#getButtonValue").click(function() {

            var msg = '';
            for (i = 1; i < counter; i++) {
                msg += "\n " + $('#subj' + i).val();
                msg += $('#fee' + i).val();
            }
            alert(msg);
        });

    });
</script>


<% if (page == "usersadd") { %>
    <!-- InputMask -->
    <script src="assets/backend/js/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
    <script src="assets/backend/js/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="assets/backend/js/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
    <!-- date-range-picker -->
    <script src="assets/backend/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>  
    <script type="text/javascript">
    $(function() {
    //Money Euro
    $("[data-mask]").inputmask();
    });
    </script>
<% } %>
<!-- Bootstrap -->
<script src="assets/backend/js/bootstrap.min.js" type="text/javascript"></script>      
<script src="assets/backend/js/AdminLTE/app.js" type="text/javascript"></script>
<!-- AdminLTE for demo purposes -->
<script src="assets/backend/js/AdminLTE/demo.js" type="text/javascript"></script>                     

<% if (page == "users" ||  page == "books" || page == "searchbooks") { %>
    <!-- DATA TABES SCRIPT -->             
    <script src="assets/backend/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="assets/backend/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

    <!-- Bootstrap WYSIHTML5 -->
    <script src="assets/backend/jsplugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="assets/backend/jsplugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- Page script -->
    <script type="text/javascript">
    $(function() {

    "use strict";

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"]').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });

    //When unchecking the checkbox
    $("#check-all").on('ifUnchecked', function(event) {
      //Uncheck all checkboxes
      $("input[type='checkbox']", "#table-users").iCheck("uncheck");
    });
    //When checking the checkbox
    $("#check-all").on('ifChecked', function(event) {
      //Check all checkboxes
      $("input[type='checkbox']", "#table-users").iCheck("check");
    });

    });
    </script>

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            $("#table-users").dataTable();
        });
    </script>

<% } else if (page == "usersedit" || page == "booksedit" || page == "booksadd") { %>  

    <script src="assets/backend/jquery/uploadify_31/jquery.uploadify-3.1.min.js" type="text/javascript"></script>
    <!-- InputMask -->
    <script src="assets/backend/js/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
    <script src="assets/backend/js/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="assets/backend/js/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
    <!-- date-range-picker -->
    <script src="assets/backend/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>  
    <script type="text/javascript">
    $(function() {
    //Money Euro
    $("[data-masks]").inputmask();
    });
    </script>     

    <script>
        $(function() {

            var base_url = 'http://localhost:3000/';

            /*$('#upload-file').click(function (e) {
             e.preventDefault();
             $('#userfile').uploadify('upload', '*');
             });*/

            $('#userfile').uploadify({
                'auto': false,
                'swf': base_url + 'assets/backend/jquery/uploadify_31/uploadify.swf',
                'uploader': base_url + 'users/do_upload/<?php echo $id; ?>',
                'cancelImg': base_url + 'assets/backend/jquery/img/uploadify-cancel.png',
                'fileTypeExts': '*.jpg;*.bmp;*.png;*.tif',
                'fileTypeDesc': 'Image Files (.jpg,.bmp,.png,.tif)',
                'fileObjName': 'userfile',
                'buttonText': 'Select Photo',
                'removeCompleted': false,
                'multi': false,
                'onUploadError': function(file, errorCode, errorMsg, errorString) {
                    alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                }
                //'onUploadSuccess': function(file, data, response){
                //  $('#imageShow').append("<img src='/learning/images/'" + file.name + "' height='120px' width='150px' />");
                //}
            });

        });
    </script>    
    <script>
        $(function() {
            $('#submit').click(function() {
                alert($('.signupForm').serialize());
                $('.loading').html('Loading...');
                $.ajax({
                    url: 'users/',
                                    dataType: 'json',
                                    data: $('.signupForm').serialize(),
                                    success: function(data) {
                                        $('#userfile').uploadify('upload', '*');
                                        $('.loading').html('Update');
                                        if (data.msg == "notmatch") {
                                            $('#msg').html('<div class="alert alert-danger alert-dismissable">' +
                                                    '<i class="fa fa-warning"></i>' +
                                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                                    '<b>Warning!</b> New Password and Confirm Password doesn\'\t match each other, please try again.' +
                                                    '</div>');
                                        } else if (data.msg == "invalid") {
                                            $('#msg').html('<div class="alert alert-danger alert-dismissable">' +
                                                    '<i class="fa fa-warning"></i>' +
                                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                                    '<b>Warning!</b> Your old password is invalid, please try again.' +
                                                    '</div>');
                                        } else if (data.msg == "empty") {
                                            $('#msg').html('<div class="alert alert-danger alert-dismissable">' +
                                                    '<i class="fa fa-warning"></i>' +
                                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                                    '<b>Warning!</b> New Password and Confirm Password is required.' +
                                                    '</div>');
                                        } else {

                                            $('#msg').html('<div class="alert alert-success alert-dismissable"  style="width:1000px;margin-left:40px;">' +
                                                    '<i class="fa fa-check"></i>' +
                                                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                                    '<b>Alert!</b> Success user was updated already.' +
                                                    '</div>');
                                        }
                                        $("html, body").animate({scrollTop: "0px"}, 1000);

                                    },
                                    error: function(error) {
                                    alert(error.responseText);
                                        $('#msg').html('<div class="alert alert-danger alert-dismissable">' +
                                                '<i class="fa fa-warning"></i>' +
                                                '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
                                                '<b>Warning!</b> You have a connection problem.' +
                                                '</div>');
                                        $('.loading').html('Update');
                                        $("html, body").animate({scrollTop: "0px"}, 1000);

                                    }
                                });
                            });

                            $("#password").keyup(function() {
                                $.ajax({
                                    url: 'users/',
                                                    dataType: 'json',
                                                    data: $('.signupForm').serialize(),
                                                    success: function(get) {
                                                        if (get.msg === true) {
                                                            $("#npassword").removeAttr('disabled');
                                                            $("#cnpassword").removeAttr('disabled');
                                                        } else {
                                                            $("#npassword").attr('disabled', true);
                                                            $("#cnpassword").attr('disabled', true);
                                                            $("#npassword").val('');
                                                            $("#cnpassword").val('');
                                                        }
                                                    }
                                                });
                                            });
                                            $("#clickhere").click(function() {
                                                $("#changepass").slideDown('1000', function() {
                                                    $("#nothanks").show();
                                                    $("#clickhere").hide();
                                                    $("#password").val('');
                                                    $("#npassword").val('');
                                                    $("#cnpassword").val('');
                                                    $("#npassword").attr('disabled', true);
                                                    $("#cnpassword").attr('disabled', true);
                                                });
                                            });
                                            $("#nothanks").click(function() {
                                                $("#changepass").slideUp('1000', function() {
                                                    $("#clickhere").show();
                                                    $("#nothanks").hide();
                                                    $("#password").val('');
                                                    $("#npassword").val('');
                                                    $("#cnpassword").val('');
                                                    $("#npassword").attr('disabled', true);
                                                    $("#cnpassword").attr('disabled', true);
                                                });

                                            });

                                        });
    </script>

<% } else { %>
    <!-- CK Editor -->
    <script src="assets/backend/js/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript">
                                         $(function() {
                                             // Replace the <textarea id="editor1"> with a CKEditor
                                             // instance, using default configuration.
                                             CKEDITOR.replace('editor1');
                                         });
    </script>   

    <!-- jQuery UI 1.10.3 -->
    <script src="assets/backend/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <!-- Morris.js charts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="assets/backend/js/plugins/morris/morris.min.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="assets/backend/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="assets/backend/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="assets/backend/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- fullCalendar -->
    <script src="assets/backend/js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="assets/backend/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="assets/backend/js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="assets/backend/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="assets/backend/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="assets/backend/js/AdminLTE/dashboard.js" type="text/javascript"></script>     


    <!-- page script -->
<% } %>


</body>
</html>